.card-body {
    background-color: #2d2d2d!important;
    margin-bottom: 20px;
    max-width: 268px;
}

.card-body > div {
    padding: 0!important;
    padding-top: 14px;
}

.card-mainContent {
    padding-left: 7px;
    padding-right: 7px;
}

.headerCard-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerCard-firstBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.headerCard-secondBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.div-folder {
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    padding: 6px;
}

.div-folder:hover {
    background-color: #00c9ff;
}

.folderIcon {
    width: 12px;
    height: 12px;
}

.div-s {
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    color: #ffffff;
}

.div-s > p {
    padding-bottom: 5px;
}

.second-item {
    color: #ffffff;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
}

.third-item {
    font-size: 13px;
    color: #979797;
}

.secondBlock-firstItem {
    color: #aaff00;
    font-size: 13px;
    font-weight: 600;
}

.secondBlock-secondItem {
    border: 1px solid #aaff00;
    color: #ffffff;
    padding: 4px 11px 4px 11px;
    border-radius: 17px; 
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
}

.secondBlock-secondItem:hover{
    background-color: #aaff00;
    color: #000000;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.recharts-responsive-container{
    height: 60px!important;
}

.listItem-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #505050!important;
/*     border-bottom: 1px solid #505050!important;
 */}

.card-itemName > span {
    font-size: 13px;
    color: #adafb2;
    text-transform: uppercase;
}

.card-itemValue{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.card-itemValue > span {
    font-size: 13px;
    font-weight: bold;
}

.card-itemValueScore > span {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.card-itemValueScore > span {
    font-size: 13px;
    font-weight: bold;
}

.owlIcon {
    margin-right: 5px;
}


.div-footer-graph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 40px;
}

.hexagon {
    position: relative;
    width: 16px; 
    height: 9.24px;
    background-color: #ffffff;
    margin: 4.62px 0;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 4.62px solid #ffffff;
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 4.62px solid #ffffff;
  }

.hexagon > p {
    margin: 0!important;
    position: absolute;
    bottom: -4px;
    font-size: 12px;
    left: 4px;
}
