
.mainMenu-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #373737;
    height: 50px;
}

.mainMenu-buttonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    border-right: 1px solid #505050; 
}


.switch-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
} 

.switch-div > p {
    font-size: 13px;
    color:#ffffff;
    white-space: nowrap;
    margin-right: 9px;
}

.MuiSwitch-switchBase {
    color: black!important;
} 

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color: #000!important;
}   


.mainMenu-dropDown {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid #505050; 
}

.mainMenu-dropDown > p {
    color: #ffffff;
    font-size: 13px;
    margin-right: 8px;
    margin-left: 22px;
} 

.arrowDown {
    width: 13px;
    height: 13px;
    margin-right: 10px;
}

.div-listIcon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-cardsIcon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-listIcon-active {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

.div-cardsIcon-active {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #202020; 
}


 
  