
.mainMenu-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #373737;
    margin-top: 20px;
}

.mainMenu-buttonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    border-right: 1px solid #505050;
    padding:17px 21px 17px 19px;;
}

.div-listIcon {
    width: 5%;
}

.div-cardsIcon {
    width: 5%;
}
 
/*  .listIcon { 
    padding: 17px 21px 17px 19px;
}

.cardsIcon {
    padding: 17px 21px 17px 19px;

}  */

 .switch-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
} 

 .switch-div > p {
    font-size: 13px;
    color:#ffffff;
    white-space: nowrap;
    margin-right: 9px;
}

.MuiSwitch-switchBase {
    color: black!important;
} 

.mainMenu-dropDown {
    border-left: 1px solid #505050;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mainMenu-dropDown > p {
    padding: 18px 8px 18px 22px;
    color: #ffffff;
    font-size: 13px;
} 

.arrowDown {
    width: 13px;
    height: 13px;
    padding: 18px 22px 18px 0px;
}
