
.container-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    background-color: #2d2d2d;
    height: 100%;
}

.container-sidebar > ul {
    width: 100%;
}

.css-h4y409-MuiList-root {
    padding-top: 0px!important;
}

.sidebar-titleDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    background-color: #373737;
    width: 100%;
}

.sidebar-textElement > span {
    color: #adafb2;
    font-size: 10px!important;
    font-weight: 600!important;
}

.sidebar-icon {
    min-width: 29px!important;
}
 


.column {
    display: flex;
    flex-direction: column;
}

.pointsContainer {
    display: flex;
    flex-direction: row;
}

.point {
    width: 3px;
    height: 3px;
    margin: 0 2px 2px 2px;
}

.mainContainer-title {
    color: #b6b6b6;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.82px;
    margin-left: 6px;
}

.sidebar-listItem:hover {
    background-color: #202020!important;
}

.sidebarFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    background-color: #3da0cc;
    width: 100%;
    cursor: pointer;
}
.sidebarFooter-text {
    padding-left: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
    margin: 0;
}

.sidebarFooter:hover{
    background-color: #0079ac;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
